<section id="one" class="tiles">
  <article>
    <header class="major">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/rF1sQatbwf0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="assets/images/1572088158_397471_1572088257_noticia_normal.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="#" class="link">Chile is going through a terrible crisis</a></h3>
      <p>Our people started to peacefully protest about inequality, wages, health, education, corruption, pensions and
        so much more that needs attention. But the president and the government, instead of answering to social needs,
        he sent the special and armed forces to the streets and declared a state of emergency and that Chile was at war
        this only aggravated things because the special forces are violating human rights every day: they kill, wound,
        torture, rape, shoot people directly in the eyes where hundreds have lost one or both eyes resulting in partial
        or full loss of vision, many are still missing and many are still in hospital. These atrocities are happening
        every day and are increasing.
      </p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="assets/images/1572088158_397471_1572088633_album_normal.jpg" alt="" />
    </span>
    <header class="major">
      <p>We as Chileans living in beautiful Aotearoa, cannot stand and do nothing while our loved ones are in danger. So
        for the past month, we have had peaceful protests, informed New Zealand of what is going on in Chile through
        interviews on national television, press releases on different platforms, sending letters to all members of the
        Parliament, meeting twice a week to put together ideas about what we can do and how we can help</p>
    </header>
  </article>
  <article>
    <header class="major">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0TFGlKQ2hdI" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <!-- <h3><a href="#" class="link">Title of the video</a></h3>
      <p>Some description</p> -->
    </header>
  </article>
</section>
